*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.major {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background-image: url("bgfruit.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-position: 100% 80%;
    filter: brightness(200%);
    /* z-index: 1; */
    background: black;
    cursor: pointer;
    

}
.hidden {
    visibility: hidden;
    /* display: none; */
}


.minor {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-image: url("cartoonn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 75%;
    border-radius: 7rem;
    /* z-index: 2; */
    cursor: pointer;
}

.main{
    
    grid-column: 2/6;
    grid-row: 2/6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    /* flex-wrap: wrap; */
background: rgba(245, 241, 11, 0.73);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.6px);
-webkit-backdrop-filter: blur(1.6px);
cursor: pointer;
}

.firstpage {
    grid-column: 2/6;
    grid-row: 1/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 5;
    position: relative;
    top: 1.5rem;
}
.firstpage h1 {
    text-align: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
}
.firstpage p {
    text-align: center; 
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    color: aliceblue;
}
.firstpage button {
    text-align: center; 
    font-size: 1.5rem;
    border-radius: 2rem;
    height: 4rem;
    width: 10rem;
    border: none;
    background-color: aliceblue;
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
}
.secondpage {
    z-index: 4;
    grid-column: 2/6;
    grid-row: 2/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;

}
.secondpage input{
    width: 20rem;
    height: 2rem;
    border-radius: 16px;
    border: none;
}
.secondpage button {
    text-align: center; 
    font-size: 1.5rem;
    border-radius: 2rem;
    height: 4rem;
    width: 10rem;
    border: none;
    background-color: aliceblue;
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
}
.thirdpage {
    z-index: 3;
    grid-column: 2/6;
    grid-row: 2/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.fourthpage {
    z-index: 2;
    grid-column: 2/6;
    grid-row: 2/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.fifthpage {
    z-index: 1;
    grid-column: 2/6;
    grid-row: 2/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.thirdpage p {
    text-align: center; 
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    color: aliceblue;
}

.thirdpage button {
    text-align: center; 
    font-size: 1.5rem;
    border-radius: 2rem;
    height: 4rem;
    width: 10rem;
    border: none;
    background-color: aliceblue;
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
}

.fourthpage input{
    width: 20rem;
    height: 2rem;
    border-radius: 16px;
    border: none;
}
.fourthpage button {
    text-align: center; 
    /* font-size: 1rem; */
    border-radius: 2rem;
    height: 4rem;
    width: 14rem;
    border: none;
    background-color: aliceblue;
    font-size: 1.8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
}